.re-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.re-tabs {
  display: block;
  flex-shrink: 0;
  padding: 0 16px;
}

.re-content {
  flex: 1;
  overflow-y: auto;
  padding: 20px 24px;
}
