<div class="rm-layout">
  @if (error()) { <div class="rm-error">{{ error() }}</div> }
  <app-role-list
    [roles]="roles()"
    [selectedRoleId]="selectedRole()?.id ?? null"
    [loading]="loading()"
    (roleSelected)="onRoleSelected($event)"
    (createClicked)="showCreateModal.set(true)"
    (deleteClicked)="onRoleDeleted($event.id)"
  />
</div>

<app-modal
  [visible]="!!selectedRole()"
  [title]="selectedRole()?.frenchName ?? ''"
  size="lg"
  (closed)="selectedRole.set(null)"
>
  @if (selectedRole()) {
    <app-role-editor
      [role]="selectedRole()!"
      [allRoles]="roles()"
      (onRoleUpdated)="onRoleUpdated($event)"
      (onRoleDeleted)="onRoleDeleted($event)"
    />
  }
</app-modal>

<app-create-role-modal
  [visible]="showCreateModal()"
  [allRoles]="roles()"
  (closed)="showCreateModal.set(false)"
  (roleCreated)="onRoleCreated($event)"
/>
